@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input, button, textarea {
  font-family: "Montserrat"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px; }
  @media (max-width: 1252px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .ibg img {
    display: none; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-list {
    overflow: hidden; }
  .slick-slider .slick-track {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .slick-slider .slick-dots {
    padding: 100px 0px 0px 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .slick-slider .slick-dots li {
      margin: 0px 5px; }
      .slick-slider .slick-dots li button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #c8c8c8;
        background-color: transparent; }
      .slick-slider .slick-dots li.slick-active button {
        background-color: #a9afb3; }
    @media (max-width: 1100px) {
      .slick-slider .slick-dots {
        padding: 50px 0px 0px 0px; } }
    @media (max-width: 767px) {
      .slick-slider .slick-dots {
        padding: 30px 0px 0px 0px; } }

.page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-screen {
  background-image: url(../img/1/igle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.header {
  padding: 28px 0 164px 0; }

.header-link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700; }

.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .header-list__item {
    margin-left: 55px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
    .header-list__item active {
      color: #fce38a; }

.promo {
  text-align: center; }
  .promo__title {
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400; }

.story {
  padding: 90px 0 110px 0;
  text-align: center; }
  .story__tutle {
    margin-bottom: 24px; }
  .story__subtitle {
    margin-bottom: 40px; }
  .story__item {
    margin-bottom: 48px; }
  .story__text {
    margin-bottom: 100px; }

.advantages {
  text-align: center;
  background-color: #95e1d3; }

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 90px 75px 90px 35px; }

.amazing {
  padding: 110px 0 122px 0; }
  .amazing__title {
    margin-bottom: 22px;
    text-align: center; }
  .amazing__subtitle {
    margin-bottom: 42px;
    text-align: center; }
  .amazing__item {
    margin-bottom: 66px;
    text-align: center; }

.amazing-columns-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.amazing-columns-items {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%; }

.amazing-columns-bot {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.unique-design {
  text-align: center;
  padding: 110px 0 0 0;
  background-image: url(../img/5/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .unique-design__title {
    margin-bottom: 22px; }
  .unique-design__subtitle {
    margin-bottom: 38px; }
  .unique-design__elem {
    margin-bottom: 46px; }
  .unique-design__imgipad {
    position: relative;
    margin-right: -100px;
    top: 0;
    left: 0; }
  .unique-design__imgiphone {
    margin-left: -50px;
    position: relative;
    top: 200px;
    right: 0;
    z-index: 50; }

.service {
  background-color: #fff;
  text-align: center;
  padding-top: 112px; }
  .service__title {
    margin-bottom: 24px; }
  .service__subtitle {
    margin-bottom: 42px; }
  .service__elem {
    margin-bottom: 46px; }
  .service__text {
    padding: 0 122px 0 122px;
    margin-bottom: 92px; }

.service-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.service-block__title {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer; }

.service-block__title:before,
.service-block__title:after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.service-block__title:before {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  left: 416px; }

.service-block__title:after {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  left: 424px; }

.service-block__title.active:before {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg); }

.service-block__title.active:after {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); }

.service-block__text {
  display: none; }

.comment {
  padding: 70px 0;
  background-color: #f8f8f8; }

.comment-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.comment-img {
  margin-right: 60px;
  display: block;
  background-color: #f8f8f8; }

.comment-text-block__text {
  margin-bottom: 23px; }

.comment-text-block__elem {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .comment-text-block__elem img {
    margin-right: 10px; }

.team {
  text-align: center;
  padding: 100px 0 118px 0; }
  .team__title {
    margin-bottom: 22px; }
  .team__subtitle {
    margin-bottom: 42px; }
  .team__elem {
    margin-bottom: 46px; }
  .team__text {
    margin-bottom: 82px; }

.team-photo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.team-photo-card {
  text-align: center; }

.icons {
  padding: 50px 0;
  background-color: #f8f8f8; }

.work {
  text-align: center; }
