@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input, button, textarea {
  font-family: "Montserrat"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px; }
  @media (max-width: 1252px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-screen {
  background-image: url(../img/1/igle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.header {
  padding: 28px 0 164px 0; }

.header-link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700; }

.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .header-list__item {
    position: relative;
    margin-left: 55px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
    .header-list__item.active {
      display: inline-block;
      color: #fce38a; }
      .header-list__item.active:before {
        content: '';
        position: absolute;
        top: 22px;
        width: 50px;
        height: 3px;
        border: 2px solid;
        color: #fce38a; }

.promo {
  padding-bottom: 230px;
  text-align: center; }
  .promo__title {
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 42px; }
  .promo__subtitle {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    margin-bottom: 70px;
    text-align: center; }
  .promo__item {
    margin-bottom: 50px; }

.promo-button__link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  padding: 14px 32px; }

.story {
  padding: 90px 0 110px 0;
  text-align: center; }
  .story__tutle {
    margin-bottom: 24px; }
  .story__subtitle {
    margin-bottom: 40px; }
  .story__item {
    margin-bottom: 48px; }
  .story__text {
    margin-bottom: 100px; }

.main__title {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 23px; }

.main__subtitle {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px; }

.main__item {
  margin-bottom: 46px; }

.main__text {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 132px;
  margin-bottom: 92px; }

.story-img-elem {
  background-color: #95e1d3; }

.story-img__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(#11de93), to(#0e7ad6));
  background-image: -webkit-linear-gradient(right, #11de93, #0e7ad6);
  background-image: -o-linear-gradient(right, #11de93, #0e7ad6);
  background-image: linear-gradient(to left, #11de93, #0e7ad6);
  opacity: 0.8; }

.story-img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.gradient {
  background-image: url(../img/2/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; }

.advantages {
  text-align: center;
  background-color: #95e1d3; }

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.advantages-list-item {
  position: relative;
  display: block;
  padding: 90px 0;
  text-align: center;
  width: 240px; }
  .advantages-list-item:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 240px;
    height: 300px;
    color: #ffff;
    opacity: 0.3; }

.advantages-list-item__first {
  position: relative; }
  .advantages-list-item__first:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 240px;
    height: 300px;
    border: 0.5px solid;
    color: #ffff;
    opacity: 0.3; }

.advantages-item__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px; }

.advantages-item__sibtitle {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.amazing {
  padding: 110px 0 122px 0; }
  .amazing__title {
    margin-bottom: 22px;
    text-align: center; }
  .amazing__subtitle {
    margin-bottom: 42px;
    text-align: center; }
  .amazing__item {
    margin-bottom: 66px;
    text-align: center; }

.amazing-columns-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.amazing-columns-items {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%; }

.amazing-columns-bot {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.unique-design {
  text-align: center;
  padding: 110px 0 0 0;
  background-image: url(../img/5/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .unique-design__imgipad {
    position: relative;
    margin-right: -100px;
    top: 0;
    left: 0; }
  .unique-design__imgiphone {
    margin-left: -50px;
    position: relative;
    top: 200px;
    right: 0;
    z-index: 50; }

.service {
  background-color: #fff;
  text-align: center;
  padding-top: 112px; }

.service-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.service-block__title {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer; }

.service-block__title:before,
.service-block__title:after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.service-block__title:before {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  left: 416px; }

.service-block__title:after {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  left: 424px; }

.service-block__title.active:before {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg); }

.service-block__title.active:after {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); }

.service-block__text {
  display: none; }

.comment {
  padding: 70px 0;
  background-color: #f8f8f8; }

.comment-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.comment-img {
  margin-right: 60px;
  display: block;
  background-color: #f8f8f8; }

.comment-text-block__text {
  margin-bottom: 23px; }

.comment-text-block__elem {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .comment-text-block__elem img {
    margin-right: 10px; }

.team {
  text-align: center;
  padding: 100px 0 118px 0; }

.team-photo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.team-photo-card {
  text-align: center; }

.icons {
  padding: 50px 0;
  background-color: #f8f8f8; }

.work {
  text-align: center; }
