//<МИКСИНЫ>
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>

//<ШРИФТЫ>

//<Подключаем шрифты>
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



//font-display: swap;
//</Подключаем шрифты>


//<Шрифт по умолчанию>
$fontfamily:"Montserrat";
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
$minwidth:320px;
$mw:1240;
$md1:$mw+12;
$md2:767.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 750px;}
	@media (max-width:$md2+px){max-width: none;padding:0 10px;}
	padding: 0 15px;
}



//<ОСНОВНОЙ БЛОК>
.wrapper {
}
.page {

	@include flexbox();
	flex-direction: column;

}
.main-screen {
	background-image: url(../img/1/igle.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}


.header {
	padding: 28px 0 164px 0;
}

.header-link {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	
}
.header-nav {
}
.header-row {
	@include flexbox();
	justify-content: space-between;
}
.header-list {
	@include flexbox();

		&__item {
			position: relative;
			margin-left: 55px;
			color: #ffffff;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			&.active{
				display: inline-block;
				color: #fce38a;
				&:before{
					content: '';
					position: absolute;
					top: 22px;
					width: 50px;
					height: 3px;
					border: 2px solid;
					color: #fce38a;
				}
			}
		}
}


.promo {
	padding-bottom:230px ;
	text-align: center;

		&__title {
		color: #ffffff;
		font-family: "Kaushan Script";
		font-size: 72px;
		font-weight: 400;
		margin-bottom: 42px;
		}

		&__subtitle {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 150px;
	font-weight: 700;
	line-height: 140px;
	text-transform: uppercase;
	margin-bottom: 70px;
	text-align: center;
		}

		&__item {
			margin-bottom: 50px;
		}
}
.promo-button {

		

		&__link {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		border: 3px solid #ffffff;
		padding: 14px 32px;
		}
}




.container {
}
.promo-button {

	&__link {
	}
}
.story {
	padding: 90px 0 110px 0;
	text-align: center;

	&__tutle {
		margin-bottom: 24px;
	}

	&__subtitle {
		margin-bottom: 40px;
	}

	&__item {
		margin-bottom: 48px;
	}

	&__text {
		margin-bottom: 100px;
	}
}
.main {


	&__title {
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 23px;
	}

	&__subtitle {
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
	}

	&__item {
		margin-bottom: 46px;
	}

	&__text {
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	padding: 0 132px;
	margin-bottom: 92px;

	}
}

.story-img-elem {
	background-color: #95e1d3;
}

.story-img {
	
	
	&__item {
		
		&:after {
			content: "";
			display: block;    
			width: 100%;
			height: 100%;    
			position: absolute;
			top: 0;      
			left: 0;   
			background: transparent;
			background-image: linear-gradient(to left, #11de93, #0e7ad6);
			opacity: 0.8;
		}
	}
		

}
.story-img {
	@include flexbox();
	justify-content: space-between;


}
.gradient {

	background-image: url(../img/2/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	
}


.advantages {
	text-align: center;
	background-color: #95e1d3;
}
.container {
}
.advantages-list {
	display: flex;
	align-items: center;
	text-align: center;

	
}
.advantages-list-item {
	position: relative;
	display: block;
	padding: 90px 0;
	text-align: center;
	width: 240px;
	
&:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 240px;
	height: 300px;
	
	color: #ffff;
	opacity: 0.3;
}
}
.advantages-list-item__first{
	position: relative;
	
	&:after{
		content: '';
		position: absolute;
		top: 0px;
		right: 240px;
		height: 300px;
		border: 0.5px solid;
		color: #ffff;
		opacity: 0.3;
	}
}
.advantages-item__title {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 72px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 30px;
}
.advantages-item__sibtitle{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;

}

.amazing {
	padding: 110px 0 122px 0;
	

	&__title {
		margin-bottom: 22px;
		text-align: center;
	
	}

	&__subtitle {
		margin-bottom: 42px;
		text-align: center;
	}

	&__item {
		margin-bottom: 66px;
		text-align: center;
	}
}
.container {
}
.amazing-columns {
}
.amazing-columns-top {
	@include flexbox();
	justify-content: space-between;
}
.amazing-columns-items {
	flex: 0 0 33.333%;
}
.amazing-items {

	&__img {
	}
}

.amazing-columns-bot {
	
	@include flexbox();
	justify-content: space-between;
}

.unique-design {
	text-align: center;
	padding: 110px 0 0 0;
	
	background-image: url(../img/5/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;





	&__imgipad {
		position: relative;
		margin-right: -100px;
		top: 0;
		left: 0;
		
	}

	&__imgiphone {
		
		margin-left: -50px;
		position: relative;
		top: 200px;
		right: 0;
		z-index: 50;
	}
}
.container {
}
.unique-design-row{
	
}
.unique-design-device {

}

.service {

background-color: #fff;
text-align: center;
padding-top: 112px;


	&__img {
	}
}
.container {
}
.service-container{
	@include flexbox();
}
.service-block {
	
}
.service-items {
}
.service-items-block {

	&__img {
	}

	&__text {
	}

	&__item {
	}
}
.service-block__item {
}
.service-block__title {
	position: relative;
	padding:0 0 0 30px;
	cursor: pointer;
}
.service-block__title:before,
.service-block__title:after{
	content:'' ;
	width: 10px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 9px;
transition: all 0.3s ease 0s;
	
}
.service-block__title:before{
	transform: rotate(40deg);
	left: 416px;
}
.service-block__title:after{
	transform: rotate(-40deg);
	left: 424px;
}
.service-block__title.active:before,
.service-block__title.active:after{}
.service-block__title.active:before{
	transform: rotate(-40deg);
	
}
.service-block__title.active:after{
	transform: rotate(40deg);
}
.service-block__text {
	display: none;
}
.comment {
	padding: 70px 0;
	background-color: #f8f8f8;
}
.container {
}
.comment-row {
	justify-content: space-between;
	@include flexbox()
}
.comment-img {
margin-right: 60px;
	display: block;
	background-color: #f8f8f8;
}
.comment-text-block {

	&__text {
		margin-bottom: 23px;
	}

	&__elem {
		align-items: center;
		@include flexbox()
		img {
		margin-right: 10px;	
		}
	}
}
.team {
	text-align: center;
padding: 100px 0 118px 0;

}
.container {
}
.team-photo {
	@include flexbox();
	justify-content: space-between;

}
.team-photo-card {
	text-align: center;


}
.icons {
	padding: 50px 0;
	background-color: #f8f8f8;
}

.icons-img {
}

.work {
	text-align: center;


}

.work-img {
}
.work-img-block {
}
.work-slider {

	&__img {
	}
}
.work-slider-comment {

	&__text {
	}
}
.work-slider-items {
}
.work-slider-item {

	&__elem {
	}

	&__name {
	}
}
.review {

}

.review-comment {
}
.review-comment-line {
}
.review-comment-card {
}
.review-comment-card-block {
}
.comment-card-block {


}









